NODE_ENV=development
PORT=3000

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=racional
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/racional

# JWT
JWT_SECRET=your-secret-here-minimum-32-characters-long