NODE_ENV=development
PORT=3000

# Only works for docker-compose, for local development use npm run db:seed
SEED_DATA=true

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=racional
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/racional
